

#
# * <@insert_github_username>
# Each line is a file pattern followed by one or more owners.
# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# These owners will be the default owners for everything in the repo.
# This file is also being managed automatically by the gitown tool.
.clang-format benthevining
.clang-tidy benthevining
.ecrc benthevining
.gitattributes benthevining
.github/CODEOWNERS benthevining
.github/FUNDING.yml benthevining
.github/ISSUE_TEMPLATE/config.yml benthevining
.github/workflows/test_and_release.yml benthevining
.github/workflows/tests.yml benthevining
.gitignore benthevining
.gitlint benthevining
.gitownrc benthevining
.pre-commit-config.yaml benthevining
CMakeLists.txt benthevining
CODEOWNERS benthevining
README.md benthevining
modules/Audio/lemons_audio_effects/AudioEffects/AudioEffect.cpp benthevining
modules/Audio/lemons_audio_effects/dynamics/Compressor.cpp benthevining
modules/Audio/lemons_audio_effects/dynamics/Limiter.h benthevining
modules/Audio/lemons_audio_effects/lemons_audio_effects.cpp benthevining
modules/Audio/lemons_audio_effects/misc/DeEsser.cpp benthevining
modules/Audio/lemons_audio_effects/misc/DryWet.h benthevining
modules/Audio/lemons_audio_effects/misc/Reverb.cpp benthevining
modules/Audio/lemons_audio_effects/misc/Saturation.cpp benthevining
modules/Audio/lemons_audio_effects/panning/MonoToStereoPanner.cpp benthevining
modules/Audio/lemons_audio_effects/panning/StereoPanner.cpp benthevining
modules/Audio/lemons_audio_effects/time/Delay.h benthevining
modules/Audio/lemons_dsp/audio_files/AudioFile.cpp benthevining
modules/Audio/lemons_dsp/engines/AudioEngine.cpp benthevining
modules/Audio/lemons_dsp/engines/AudioEngine.h benthevining
modules/Audio/lemons_dsp/engines/AudioEngine_tests.cpp benthevining
modules/Audio/lemons_dsp/engines/DspProtection.h benthevining
modules/Audio/lemons_dsp/engines/DspProtection_tests.cpp benthevining
modules/Audio/lemons_dsp/engines/EngineChain.cpp benthevining
modules/Audio/lemons_dsp/engines/EngineChain.h benthevining
modules/Audio/lemons_dsp/engines/LatencyEngine.cpp benthevining
modules/Audio/lemons_dsp/engines/LatencyEngine_tests.cpp benthevining
modules/Audio/lemons_dsp/engines/MidiProcessorEngine.h benthevining
modules/Audio/lemons_dsp/fifos/AudioAndMidiFIFO_tests.cpp benthevining
modules/Audio/lemons_dsp/fifos/AudioFifo_tests.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.h benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer_tests.cpp benthevining
modules/Audio/lemons_dsp/filters/Coeffecients.cpp benthevining
modules/Audio/lemons_dsp/filters/Coeffecients.h benthevining
modules/Audio/lemons_dsp/filters/Filter.h benthevining
modules/Audio/lemons_dsp/lemons_dsp.cpp benthevining
modules/Audio/lemons_dsp/lemons_dsp.h benthevining
modules/Audio/lemons_dsp/oscillators/OscillatorEngine.h benthevining
modules/Audio/lemons_dsp/oscillators/basic_types.cpp benthevining
modules/Audio/lemons_dsp/oscillators/basic_types.h benthevining
modules/Audio/lemons_dsp/oscillators/choosable.cpp benthevining
modules/Audio/lemons_dsp/oscillators/choosable.h benthevining
modules/Audio/lemons_dsp/oscillators/oscillator_tests.cpp benthevining
modules/Audio/lemons_dsp/sample_streams/StreamEngine.h benthevining
modules/Audio/lemons_dsp/sample_streams/WhiteNoiseGenerator.h benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.cpp benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.h benthevining
modules/Audio/lemons_dsp/util/AudioFormats.cpp benthevining
modules/Audio/lemons_dsp/util/MonoStereoConverter_tests.cpp benthevining
modules/Audio/lemons_dsp/util/ValueSmoother.cpp benthevining
modules/Audio/lemons_dsp/util/ValueSmoother.h benthevining
modules/Audio/lemons_dsp/util/serializing.cpp benthevining
modules/Audio/lemons_dsp/util/serializing.h benthevining
modules/Audio/lemons_dsp/util/serializing_tests.cpp benthevining
modules/Audio/lemons_midi/lemons_midi.cpp benthevining
modules/Audio/lemons_midi/processors/MidiChoppingProcessor.cpp benthevining
modules/Audio/lemons_midi/processors/MidiChoppingProcessor.h benthevining
modules/Audio/lemons_midi/processors/processors.cpp benthevining
modules/Audio/lemons_midi/processors/processors.h benthevining
modules/Audio/lemons_midi/tuning/PitchPipeline.cpp benthevining
modules/Audio/lemons_midi/tuning/PitchbendTracker.cpp benthevining
modules/Audio/lemons_midi/tuning/PitchbendTracker.h benthevining
modules/Audio/lemons_midi/tuning/mts_client.cpp benthevining
modules/Audio/lemons_midi/tuning/mts_client.h benthevining
modules/Audio/lemons_midi/utilities/VelocityHelper.cpp benthevining
modules/Audio/lemons_midi/utilities/serializing.h benthevining
modules/Audio/lemons_psola/analysis/PeakFinder.cpp benthevining
modules/Audio/lemons_psola/analysis/PeakFinder.h benthevining
modules/Audio/lemons_psola/analysis/PeakFinder_tests.cpp benthevining
modules/Audio/lemons_psola/analysis/PitchDetector.cpp benthevining
modules/Audio/lemons_psola/analysis/PitchDetector.h benthevining
modules/Audio/lemons_psola/analysis/PitchDetector_tests.cpp benthevining
modules/Audio/lemons_psola/analysis/analyzer.cpp benthevining
modules/Audio/lemons_psola/lemons_psola.cpp benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter.h benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter_tests.cpp benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.cpp benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.h benthevining
modules/Audio/lemons_psola/resynthesis/shifter.h benthevining
modules/Audio/lemons_synth/BasicSynths/TemplateSynth.h benthevining
modules/Audio/lemons_synth/Synth/Synth.cpp benthevining
modules/Audio/lemons_synth/Synth/Synth.h benthevining
modules/Audio/lemons_synth/Synth/helpers/MidiManager.cpp benthevining
modules/Audio/lemons_synth/Synth/helpers/MidiManager.h benthevining
modules/Audio/lemons_synth/Synth/helpers/PanningManager.h benthevining
modules/Audio/lemons_synth/Synth/helpers/VoiceAllocator.cpp benthevining
modules/Audio/lemons_synth/SynthVoice/TimbreMod.h benthevining
modules/Audio/lemons_synth/lemons_synth.cpp benthevining
modules/Audio/lemons_synth/lemons_synth.h benthevining
modules/Common/lemons_core/binary_data/translations.h benthevining
modules/Common/lemons_core/lemons_core.h benthevining
modules/Common/lemons_core/localization/languages.cpp benthevining
modules/Common/lemons_core/misc/ArgParser.cpp benthevining
modules/Common/lemons_core/misc/ArgParser.h benthevining
modules/Common/lemons_core/misc/Preprocessor.h benthevining
modules/Common/lemons_core/misc/StringUtils.h benthevining
modules/Common/lemons_core/misc/TypeTraits.h benthevining
modules/Common/lemons_core/misc/Version.h benthevining
modules/Common/lemons_core/misc/rsa.h benthevining
modules/Common/lemons_core/serializing/ValueTrees.cpp benthevining
modules/Common/lemons_core/serializing/VariantConversions.cpp benthevining
modules/Common/lemons_core/serializing/VariantConversions.h benthevining
modules/Common/lemons_core/serializing/VariantConversions_tests.cpp benthevining
modules/Common/lemons_core/serializing/arrays.h benthevining
modules/Common/lemons_core/unit_tests/runner.cpp benthevining
modules/Common/lemons_core/unit_tests/runner.h benthevining
modules/Common/lemons_core/unit_tests/test.cpp benthevining
modules/Common/lemons_core/unit_tests/test.h benthevining
modules/Common/lemons_musicology/lemons_musicology.cpp benthevining
modules/Connectivity/LemonsConnectivityModules.cmake benthevining
modules/Connectivity/lemons_osc/lemons_osc.cpp benthevining
modules/Connectivity/lemons_osc/lemons_osc.h benthevining
modules/Connectivity/lemons_osc/util/serializing.h benthevining
modules/Connectivity/lemons_osc/util/util.h benthevining
modules/GUI/LemonsGUIModules.cmake benthevining
modules/GUI/lemons_gui/app/DefaultWindow.cpp benthevining
modules/GUI/lemons_gui/app/DefaultWindow.h benthevining
modules/GUI/lemons_gui/components/Label.cpp benthevining
modules/GUI/lemons_gui/components/popups/PopupComponent.cpp benthevining
modules/GUI/lemons_gui/components/popups/PopupComponent.h benthevining
modules/GUI/lemons_gui/components/popups/SaveToFilePrompt.cpp benthevining
modules/GUI/lemons_gui/components/popups/SaveToFilePrompt.h benthevining
modules/GUI/lemons_gui/components/popups/VersionBumpPrompt.h benthevining
modules/GUI/lemons_gui/device/DeviceRotation.h benthevining
modules/GUI/lemons_gui/device/autolock/AutoLock.cpp benthevining
modules/GUI/lemons_gui/device/autolock/AutoLock.h benthevining
modules/GUI/lemons_gui/device/gps/GPS.cpp benthevining
modules/GUI/lemons_gui/device/gps/GPS_apple.mm benthevining
modules/GUI/lemons_gui/device/gps/GPS_windows.cpp benthevining
modules/GUI/lemons_gui/device/motion/DeviceMotion_android.cpp benthevining
modules/GUI/lemons_gui/device/motion/DeviceMotion_ios.mm benthevining
modules/GUI/lemons_gui/lemons_gui.cpp benthevining
modules/GUI/lemons_gui/lemons_gui.h benthevining
modules/GUI/lemons_gui/utilities/CapsLock.cpp benthevining
modules/GUI/lemons_gui/utilities/colors.h benthevining
modules/GUI/lemons_gui/utilities/cursor.cpp benthevining
modules/GUI/lemons_gui/utilities/cursor.h benthevining
modules/GUI/lemons_gui/utilities/serializing.cpp benthevining
modules/GUI/lemons_gui/utilities/util.h benthevining
modules/GUI/lemons_spline/lemons_spline.h benthevining
modules/LemonsAppModules.cmake benthevining
modules/Plugins/LemonsPluginModules.cmake benthevining
modules/Plugins/lemons_plugin/hosting/PluginScanning.cpp benthevining
modules/Plugins/lemons_plugin/hosting/ProcessorEngine.h benthevining
modules/Plugins/lemons_plugin/lemons_plugin.h benthevining
modules/Plugins/lemons_plugin/metadata/EditorAttributes.h benthevining
modules/Plugins/lemons_plugin/metadata/ParameterTraits.cpp benthevining
modules/Plugins/lemons_plugin/metadata/ParameterTraits.h benthevining
modules/Plugins/lemons_plugin/metadata/PluginMetadata.cpp benthevining
modules/Plugins/lemons_plugin/metadata/ProcessorAttributes.cpp benthevining
modules/Plugins/lemons_plugin/parameters/ModulationManager/ModulationManager.cpp benthevining
modules/Plugins/lemons_plugin/parameters/Parameter.cpp benthevining
modules/Plugins/lemons_plugin/parameters/Parameter.h benthevining
modules/Plugins/lemons_plugin/parameters/parameter_tests.cpp benthevining
modules/Plugins/lemons_plugin/parameters/types/MetaParameter.cpp benthevining
modules/Plugins/lemons_plugin/parameters/types/MetaParameter.h benthevining
modules/Plugins/lemons_plugin/parameters/types/MeterParameter.cpp benthevining
modules/Plugins/lemons_plugin/parameters/types/Specializations.h benthevining
modules/Plugins/lemons_plugin/parameters/utils/detail.h benthevining
modules/Plugins/lemons_plugin/processors/ProcessorBase.h benthevining
modules/Plugins/lemons_plugin/state/ParameterList.cpp benthevining
modules/Plugins/lemons_plugin/state/ParameterList.h benthevining
modules/Plugins/lemons_plugin/unit_tests/audio_processor_test.h benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/PresetBar.cpp benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/PresetBar.h benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/PresetBrowserComponent/PresetBrowserComponent.h benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/StateToggleButtons.h benthevining
modules/Plugins/lemons_plugin_gui/buttons/Buttons.cpp benthevining
modules/Plugins/lemons_plugin_gui/buttons/Buttons.h benthevining
modules/Plugins/lemons_plugin_gui/lemons_plugin_gui.cpp benthevining
modules/Plugins/lemons_plugin_gui/parameters/ParameterMidiMappings.h benthevining
modules/Plugins/lemons_plugin_gui/plugin_library/PluginLibraryComponent.h benthevining
scripts/lemons_config.json benthevining
util/CommandLineUtils/RSAKeyGenerator/CMakeLists.txt benthevining
util/CommandLineUtils/TranslationFileGenerator/CMakeLists.txt benthevining
util/CommandLineUtils/TranslationFileGenerator/Main.cpp benthevining
util/PluginMetadataEditor/metadata_editor_gui/document/Document.h benthevining
util/PluginMetadataEditor/metadata_editor_gui/editor_attributes/EditorAttributeComponent.h benthevining
util/PluginMetadataEditor/metadata_editor_gui/metadata_editor_gui.h benthevining
util/PluginMetadataEditor/metadata_editor_gui/parameter_layout/ParameterLayoutComponent.cpp benthevining
util/PluginMetadataEditor/metadata_editor_gui/parameter_layout/ParameterLayoutComponent.h benthevining
util/PluginMetadataEditor/metadata_editor_gui/processor_attributes/BusesLayoutComponent.cpp benthevining
util/PluginMetadataEditor/metadata_editor_gui/processor_attributes/ProcessorAttributeComponent.h benthevining
util/Templates/app/Source/modules/new_app_gui/GUI/GUI.cpp benthevining
util/Templates/plugin/Source/modules/new_dsp/Processor/Processor.cpp benthevining
util/Templates/plugin/Source/modules/new_dsp/new_dsp.cpp benthevining
util/Templates/plugin/Source/modules/new_gui/GUI/GUI.h benthevining
util/Templates/plugin/Source/modules/new_gui/new_gui.cpp benthevining
util/Templates/plugin/Source/modules/new_state/new_state.cpp benthevining
util/Templates/plugin/Source/modules/new_state/state/Parameters.h benthevining
util/Templates/plugin/Source/modules/new_state/state/State.cpp benthevining
util/assets/deke.png benthevining
util/assets/lemons.jpg benthevining
util/assets/samples/inst_79.wav benthevining
util/assets/samples/inst_84.flac benthevining
util/assets/samples/vox_72.wav benthevining
util/cmake/modules/config_files/LemonsRunClean.cmake benthevining
util/cmake/modules/config_files/scripts/install_pips.cmake benthevining
util/cmake/modules/config_files/scripts/install_win.cmake benthevining
util/cmake/modules/config_files/scripts/mac_install_homebrew.sh benthevining
util/cmake/modules/cpack/LemonsDefaultCpackSettings.cmake benthevining
util/cmake/modules/cpack/scripts/rpm/rpmPostInstall.sh benthevining
util/cmake/modules/general/LemonsCmakeDevTools.cmake benthevining
util/cmake/modules/general/LemonsDefaultProjectSettings.cmake benthevining
util/cmake/modules/general/LemonsFileUtils.cmake benthevining
util/cmake/modules/general/LemonsGetCPM.cmake benthevining
util/cmake/modules/general/lemons_AggregateTargets.cmake benthevining
util/cmake/modules/integrations/LemonsAllIntegrations.cmake benthevining
util/cmake/modules/integrations/LemonsCcache.cmake benthevining
util/cmake/modules/juce/LemonsAssetsHelpers.cmake benthevining
util/cmake/modules/juce/LemonsJuceModuleUtilities.cmake benthevining
util/cmake/modules/platform/scripts/lemons_windows_settings.cmake benthevining
util/cmake/modules/plugins/AAX/LemonsAAXUtils.cmake benthevining
util/cmake/modules/plugins/AAX/LemonsCreateAAXSDKTarget.cmake benthevining
util/cmake/modules/plugins/LemonsAddPrivateSDKs.cmake benthevining
util/cmake/toolchains/ios.cmake benthevining
util/doxygen/CMakeLists.txt benthevining
util/doxygen/main_page.md benthevining
util/doxygen/scripts/cmake/process_cmake_modules.py benthevining
util/doxygen/scripts/main_page.py benthevining
util/doxygen/scripts/process_juce_modules.py benthevining
util/tests/CMakeLists.txt benthevining
util/tests/CompileModulesIndividually/ModuleTestMain.cpp benthevining
