**/.DS_Store
Builds/
Cache/
logs/
util/doxygen/build
util/doxygen/doc
util/install_deps/Brewfile
util/install_deps/Brewfile.lock.json
util/scripts/translations/__pycache__/
.github/docs
CMakeUserPresets.json
