[submodule "templates/DefaultJucePlugin"]
	path = util/Templates/DefaultJucePlugin
	url = https://github.com/benthevining/DefaultJucePlugin.git
[submodule "util/cmake/GetLemons"]
	path = util/cmake/GetLemons
	url = https://github.com/benthevining/GetLemons.git
