[submodule "cmake/GetLemons"]
	path = cmake/third_party/GetLemons
	url = https://github.com/benthevining/GetLemons.git
[submodule "default_projects/DefaultJucePlugin"]
	path = templates/DefaultJucePlugin/DefaultJucePlugin
	url = https://github.com/benthevining/DefaultJucePlugin
[submodule "default_projects/DefaultJuceApp"]
	path = templates/DefaultJuceApp/DefaultJuceApp
	url = https://github.com/benthevining/DefaultJuceApp.git
