**/.DS_Store
Builds/
Cache/
logs/
util/doxygen/build
util/doxygen/doc
util/install_deps/Brewfile
util/install_deps/Brewfile.lock.json
templates/Builds
templates/logs/
templates/deploy/
.github/docs
Lemons_translations.txt