**/.DS_Store
Builds/
Cache/
config.log
build.log
util/doxygen/build
util/doxygen/doc
util/install_deps/install/Brewfile
util/install_deps/install/Brewfile.lock.json
templates/Builds
templates/config.log
templates/build.log
.github/docs
needed_translations.txt