# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
# * <@insert_github_username>
#
# Order is important. The last matching pattern has the most precedence.


# This file is also being managed automatically by the gitown tool.
modules/Audio/lemons_dsp/util/ValueSmoother.cpp benthevining
modules/Audio/lemons_audio_effects/panning/MonoToStereoPanner.cpp benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/PresetBar.h benthevining
modules/Audio/lemons_psola/resynthesis/shifter.h benthevining
.gitownrc benthevining
modules/Audio/lemons_dsp/oscillators/choosable.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.h benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.h benthevining
modules/Audio/lemons_midi/tuning/mts_client.h benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter_tests.cpp benthevining
modules/Audio/lemons_dsp/engines/MidiProcessorEngine.h benthevining
util/cmake/modules/integrations/LemonsAllIntegrations.cmake benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.h benthevining
CODEOWNERS benthevining
.clang-format benthevining
modules/GUI/lemons_gui/device/DeviceRotation.h benthevining
modules/Audio/lemons_midi/processors/processors.h benthevining
.pre-commit-config.yaml benthevining
modules/Audio/lemons_dsp/oscillators/basic_types.h benthevining
modules/Audio/lemons_dsp/engines/LatencyEngine_tests.cpp benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.cpp benthevining
modules/Audio/lemons_midi/tuning/mts_client.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.cpp benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter.h benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.cpp benthevining
util/assets/samples/inst_79.wav benthevining
modules/GUI/lemons_spline/lemons_spline.h benthevining
util/cmake/modules/juce/LemonsAssetsHelpers.cmake benthevining
util/Templates/plugin/Source/modules/new_dsp/new_dsp.cpp benthevining
modules/Plugins/lemons_plugin/unit_tests/audio_processor_test.h benthevining
modules/Plugins/lemons_plugin/state/ParameterList.cpp benthevining
modules/GUI/lemons_gui/utilities/CapsLock.cpp benthevining
modules/Audio/lemons_dsp/lemons_dsp.cpp benthevining
modules/Plugins/lemons_plugin_gui/lemons_plugin_gui.cpp benthevining
modules/Audio/lemons_synth/lemons_synth.cpp benthevining
modules/Common/lemons_musicology/lemons_musicology.cpp benthevining
.gitlint benthevining
.gitattributes benthevining
.github/workflows/tests.yml benthevining
util/assets/lemons.jpg benthevining
modules/Audio/lemons_dsp/filters/Coeffecients.h benthevining
modules/Plugins/lemons_plugin/metadata/ParameterTraits.h benthevining
modules/Audio/lemons_midi/tuning/PitchbendTracker.h benthevining
modules/GUI/lemons_gui/utilities/cursor.cpp benthevining
modules/Common/lemons_core/unit_tests/test.h benthevining
util/cmake/modules/config_files/scripts/install_pips.cmake benthevining
modules/Plugins/lemons_plugin/processors/ProcessorBase.h benthevining
modules/Audio/lemons_synth/Synth/helpers/MidiManager.h benthevining
modules/Audio/lemons_midi/tuning/PitchbendTracker.cpp benthevining
modules/Common/lemons_core/unit_tests/test.cpp benthevining
util/CommandLineUtils/TranslationFileGenerator/CMakeLists.txt benthevining
modules/Plugins/lemons_plugin/parameters/utils/detail.h benthevining
.github/workflows/test_and_release.yml benthevining
modules/Audio/lemons_dsp/lemons_dsp.h benthevining
util/assets/deke.png benthevining
modules/Audio/lemons_psola/lemons_psola.cpp benthevining
modules/GUI/lemons_gui/utilities/cursor.h benthevining
util/PluginMetadataEditor/metadata_editor_gui/parameter_layout/ParameterLayoutComponent.h benthevining
util/doxygen/CMakeLists.txt benthevining
modules/GUI/lemons_gui/device/motion/DeviceMotion_android.cpp benthevining
modules/Audio/lemons_midi/lemons_midi.cpp benthevining
modules/Common/lemons_core/lemons_core.h benthevining
modules/GUI/lemons_gui/lemons_gui.h benthevining
modules/Audio/lemons_dsp/fifos/AudioFifo_tests.cpp benthevining
modules/GUI/lemons_gui/device/gps/GPS_windows.cpp benthevining
modules/Common/lemons_core/misc/Version.h benthevining
modules/Audio/lemons_dsp/util/serializing_tests.cpp benthevining
modules/Audio/lemons_dsp/fifos/AudioAndMidiFIFO_tests.cpp benthevining
modules/Audio/lemons_audio_effects/dynamics/Limiter.h benthevining
modules/Audio/lemons_audio_effects/time/Delay.h benthevining
modules/Audio/lemons_synth/Synth/Synth.h benthevining
modules/Audio/lemons_audio_effects/dynamics/Compressor.cpp benthevining
modules/Audio/lemons_midi/tuning/PitchPipeline.cpp benthevining
util/PluginMetadataEditor/metadata_editor_gui/processor_attributes/ProcessorAttributeComponent.h benthevining
modules/Audio/lemons_dsp/engines/DspProtection.h benthevining
modules/Plugins/lemons_plugin_gui/plugin_library/PluginLibraryComponent.h benthevining
