# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
# * <@insert_github_username>
#
# Order is important. The last matching pattern has the most precedence.


# This file is also being managed automatically by the gitown tool.
modules/Audio/lemons_dsp/util/ValueSmoother.cpp benthevining
modules/Audio/lemons_audio_effects/panning/MonoToStereoPanner.cpp benthevining
modules/Plugins/lemons_plugin_gui/PresetBar/PresetBar.h benthevining
modules/Audio/lemons_psola/resynthesis/shifter.h benthevining
.gitownrc benthevining
modules/Audio/lemons_dsp/oscillators/choosable.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.h benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.h benthevining
modules/Audio/lemons_midi/tuning/mts_client.h benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter_tests.cpp benthevining
modules/Audio/lemons_dsp/engines/MidiProcessorEngine.h benthevining
util/cmake/modules/integrations/LemonsAllIntegrations.cmake benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.h benthevining
CODEOWNERS benthevining
.clang-format benthevining
modules/GUI/lemons_gui/device/DeviceRotation.h benthevining
modules/Audio/lemons_midi/processors/processors.h benthevining
.pre-commit-config.yaml benthevining
modules/Audio/lemons_dsp/oscillators/basic_types.h benthevining
modules/Audio/lemons_dsp/engines/LatencyEngine_tests.cpp benthevining
modules/Audio/lemons_dsp/unit_tests/dsp_test.cpp benthevining
modules/Audio/lemons_midi/tuning/mts_client.cpp benthevining
modules/Audio/lemons_dsp/fifos/CircularBuffer.cpp benthevining
modules/Audio/lemons_psola/resynthesis/IntervalShifter.h benthevining
modules/Audio/lemons_psola/resynthesis/MidiShifter.cpp benthevining
